body {
    display: flex; 
    justify-content: space-between;
    margin: auto;
    width: 80%;
}

div {
    font-family: Arial, Helvetica, sans-serif;
}

.sum {
    border: 1.5px solid;
    border-radius: 0%;
    border-color: #dcdce0;
    width: 170px;
    height: 25px;
}

.type {
    border: 1.5px solid;
    border-radius: 0%;
    border-color: #dcdce0;
    width: 65px; 
    height: 30px; 
    text-align: center;
}

.currency {
    background-color: #e9ecef;
    border: 1.5px solid;
    border-radius: 0%;
    border-color: #dcdce0;
    width: 200px;
    height: 25px;
}